<!DOCTYPE html>
<html lang="en">
    <%- include('./header.ejs', {title: `Join Room ${roomId ? `ID ${roomId}` : ""}`, description: "Join Room To Play Button Soccer NOW!"}) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/join.css">
</head>
<body id='body'>
    <form id='form'>
        <div class='upload-contain'>
            <img class='upload' src='/img/upload.png' alt="upload">
        </div>
        <input type="text" id="roomid" name="roomid" placeholder="Room Id" >
        <input type="text" id="name" name="name" placeholder="Name" >
        <input type="file" id="avatar" name="avatar" class='inputimage' style="display: none">
        <button type='submit'>JOIN</button>
    </form>
    <div class='loading'>
        <div class='loading-spinner'></div>
    </div>
    <div class='modal'>
        <div class='modal-box'>
            <h5>Wrong Password</h5>
            <button>OK</button>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" ></script>
<script>
    $ = document.querySelector.bind(document);
    const params = (new URL(document.location)).searchParams;
    const roomId = params.get('roomId'); 
    const password = params.get('password'); 
    if(roomId) {
        document.getElementById('roomid').value = roomId;
    }

    if(Cookies.get("avatar")) {
        $(".upload").src = Cookies.get("avatar");
    }

    $(".upload").onclick = () => {
        $(".inputimage").click();
    }

    $(".inputimage").onchange = (e) => {
        if(isValidFileType(e.target.files[0].name.toLowerCase())) {
            $(".upload").src = URL.createObjectURL(e.target.files[0]);
        }
    }

    const showModal = (message) => {
        $(".modal-box h5").textContent = message;
        $(".modal").style.display = "flex";
    }

    $(".modal-box button").onclick = () => {
        $(".modal").style.display = "none";
    }

    const extensionLists = ['jpg', 'jpeg', 'gif', 'bmp', 'png', 'tiff', 'heic'];
  
    function isValidFileType(fName) {
        return extensionLists.indexOf(fName.split('.').pop()) > -1;
    }

    const form = $('form');

    const validate = () => {
        if(!form.elements["roomid"].value) {
            return "Room ID required";
        }

        if(!form.elements["name"].value) {
            return "Name required";
        }

        if(form.elements["name"].value.length > 10) {
            return "Maximum length of name is 10";
        }

        return "OK"
    }

    form.onsubmit = async (e) => {
        e.preventDefault();
        if(validate() !== "OK") {
            showModal(validate());
            return;
        }
        $(".loading").style.display = 'flex';
        const roomId = form.elements["roomid"].value;
        const name = form.elements["name"].value;
        let isValidRoom = true;
        await fetch(`/bs/room?roomId=${roomId}&name=${name}`, {
            method: "POST",
        }).then(res => {
            return res.json();
        }).then(res => {
            if(res.type === 'error') {
                showModal(res.message);
                $(".loading").style.display = "none";
                isValidRoom = false;
            } 
        }).catch(err => {
            showModal(err.message);
            $(".loading").style.display = "none";
            isValidRoom = false;
        })

        if(!isValidRoom) 
            return;

        if(form.elements["avatar"].files[0] && isValidFileType(form.elements["avatar"].files[0].name.toLowerCase())) {
            const formData = new FormData();
            formData.append("avatar", form.elements["avatar"].files[0]);
            await fetch("/avatar", {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                Cookies.set("avatar", data.avatar, { expires: 999999 })
            })
        } 
        if(Cookies.get("avatar")) {
            window.location.href = `/bs/remote?roomId=${roomId}&name=${name}&password=${password}`; 
        } else {
            showModal("Image file required");
        }
        
        $(".loading").style.display = "none";
    }
</script>
</html>