<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/logo192.png" >
    <link rel="apple-touch-icon" href="/logo192.png" >
    <link rel="manifest" href="/manifest.json" > 
    <link rel="stylesheet" href="/styles/common.css">
    <meta name="theme-color" content="#000000" >
    <meta name="description" content="<%=description %>" >

     <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Button Soccer">
    <meta itemprop="description" content="<%=description %>" >
    <meta itemprop="image" content="https://res.cloudinary.com/uethehe/image/upload/v1642059554/5617203_1_1_bslvy3.png">
 
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="bs.hiepnguyen.site">
    <meta property="og:type" content="Button Soccer">
    <meta property="og:title" content="Button Soccer">
    <meta property="og:description" content="<%=description %>" >
    <meta property="og:image" content="https://res.cloudinary.com/uethehe/image/upload/v1642059554/5617203_1_1_bslvy3.png">
    <title><%=title %></title>
