<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="icon" href="/smallicon.png" >
    <link rel="apple-touch-icon" href="/smallicon.png" >
    <title>AWESOME CONSOLE</title>
    <meta name="theme-color" content="#000000" >
    <meta name="description" content="Awesome place for you to have a good time with your friends and play great" >
    
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Awesome Console">
    <meta itemprop="description" content="Awesome place for you to have a good time with your friends and play great" >
    <meta itemprop="image" content="https://res.cloudinary.com/uethehe/image/upload/v1642472242/joyful-happy-woman-man-play-games-smartphone-challenge-each-other-browse-net_1_rqbzhq.jpg">
  
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="hiepnguyen.site">
    <meta property="og:type" content="Awesome Console">
    <meta property="og:title" content="Awesome Console">
    <meta property="og:description" content="Awesome place for you to have a good time with your friends and play great" >
    <meta property="og:image" content="https://res.cloudinary.com/uethehe/image/upload/v1642472242/joyful-happy-woman-man-play-games-smartphone-challenge-each-other-browse-net_1_rqbzhq.jpg">
</head>
<body>
    <div class="main">
        <section class="firstpage" id="home">
            <div class="firstpage-slogan">
                <h1>Awesome place for you to have a<br/> good time  with your friends and play great</h1>
            </div>
            <div class="firstpage-list">
                <a href="bs" class="play-game">
                    <img src="/img/soccericon.png" alt="soccergame">
                    <div>BUTTON SOCCER</div>
                </a>
                <a href="https://draw.hiepnguyen.site" class="play-game">
                    <img src="/img/draw.png" alt="soccergame">
                    <div>JUST DRAW</div>
                </a>
                <a href="/tower" class="play-game">
                    <img src="/img/tower.png" alt="soccergame">
                    <div>TOWER TOGETHER</div>
                </a>
            </div>
        </section>
        <section class="secondpage" id="buttonsoccer">
            <a href="https://hiepnguyen.site/bs" class="play-game">
                <img src="/img/soccericon.png" alt="soccergame">
                <div>BUTTON SOCCER</div>
            </a>
            <img src="/img/soccer2.png" alt="justdraw">
        </section>
        <section class="thirdpage" id="drawgame">
            <a href="https://draw.hiepnguyen.site" class="play-game">
                <img src="/img/draw.png" alt="soccergame">
                <div>JUST DRAW</div>
            </a>
            <img src="/img/draw2.png" alt="justdraw">
        </section>
      </div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.js"></script>
<script>
    $(".main").onepage_scroll({
    sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
    easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
    animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
    pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
    updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
    beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
    afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
    loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
    keyboard: true,                  // You can activate the keyboard controls
    responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
    direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".  
});

</script>
</html>