<!DOCTYPE html>
<html lang="en">
<%- include('./header.ejs', {title: `Gamepad | ${name}`, description: "Funny soccer game play with your friends"}) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/styles/remote.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="gamepad">
        <button id='up' class="bi-caret-up-fill"> </button>
        <button id='down' class="bi-caret-down-fill"> </button>
        <button id='right' class="bi-caret-right-fill"> </button>
        <button id='left' class="bi-caret-left-fill"> </button>
    </div>
    <i class="bi bi-fullscreen fullscreen"></i>
    <div class="waiting">
        <div class="waiting-choose">
            <img src=<%=avatar %> alt="avatar"> 
        </div>
        <i class="bi bi-link-45deg sharelink"></i>
        <button class="waiting-changeteam">Change Team</button>
        <button class="waiting-ready">Ready</button>
    </div>
</body>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" ></script>
<script src="/js/remote.js"></script>
</html>