body button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

body button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.share {
    position: fixed;
    top: 4px;
    right: 4px;
    position: fixed;
    padding: 4px;
    background-color: white;
    border: 1px solid #000;
    width: 36px;
}

.share:hover {
    cursor: pointer;
    opacity: 0.8;
}