body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    touch-action: pan-x pan-y;
}


/* button {
    margin-top: 40px;
    padding: 20px;
} */

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#form input {
    padding: 12px 24px;
    margin: 8px;
    width: 80%;
    border: none;
    border-radius: 64px;
}

#form button {
    width: 80%;
    border-radius: 64px;
    padding: 12px 24px;
    margin: 8px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-box {
    background-color: white;
    width: 260px;
    height: 80px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.modal-box button {
    padding: 2px 16px;
    background-color: #ccc;
}

.modal-box button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.upload {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.upload:hover {
    opacity: 0.8;
    cursor: pointer;
}