html {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    touch-action: pan-x pan-y;
}

.center {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamepad {
    position: relative;
    width: 400px;
    height: 250px;
    display: none;
}

.gamepad button {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#up {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 28%;
}

#down {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 28%;
}

#left {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    height: 52%;
}

#right {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    height: 52%;
}

.fullscreen {
    position: fixed;
    top: 4px;
    left: 8px;
    font-size: 24px;
}

.waiting {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.waiting button {
    margin: 16px;
    width: 140px;
    font-size: 16px;
}

.waiting-choose {
    position: relative;
}

.waiting-choose > img {
    width: 140px;
    height: 140px;
    margin-top: 32px;
    border-radius: 50%;
}

.waiting-choose > img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.waiting-choose-toggle {
    width: 168px;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: absolute;
    bottom: 144px;
    padding: 4px;
    left: 68px;
    display: none;
}

.waiting-choose-toggle img {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.sharelink {
    position: fixed;
    top: 4px;
    right: 12px;
    font-size: 30px;
}

.sharelink:hover {
    opacity: 0.8;
}